/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */


* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial';
    font-size: 18px;
}

html {
    height: 100%;
}

*::selection {
    color: white; 
    background: #3A4239; 
}

body {
    height: 100%;
    background: #F8F8F8;
}

#hideoverflow {
    overflow: hidden;
}


article {
    height: 100%;
    background: #FCFCFC;
    margin: 0 10%;
    padding: 0 5% 15px;
    text-align: justify;
    color: #2E333D;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
}

#article {
    padding-bottom: 32767px;
    margin-bottom: -32767px;
}

#post {
    padding-bottom: 15px;
}

#post > p {
     text-indent: 2em;
}

#aboutblog {
    padding-bottom: 15px;
    padding-top: 20px;
    text-indent: 2em;
}


/*span article {
    padding-bottom:5000px;
    margin: 0 0 -5000px 0;
    overflow: hidden;
    position: relative;
}*/

h1 {
    font-size: 1.75em;
    text-align: left;
    font-weight: bold;
    margin: 0 0 20px 0;
    border-bottom: 2px dotted #2E333D;
    padding: 20px 0 15px 0;
}

h2 {
    margin: 20px 0;
    font-size: 1.25em;
    color: #2E333D;
}

h3 {
    margin: 5px 0;
}

ul, h1, h2, p {
    line-height: 1.5;
}

#markdown-toc {
    margin-bottom: 30px;
}

header {
    width: 100%;
    height: 80px;
    background: #2E333D;
}

.navbut {
    padding: 0 0 10px 0;
    margin: 30px 50px 0 0;
    float: right;
    text-align: center;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 1.1em;
}

#logo {
    float: left;
    color: #F8F8F8;
    font-size: 2em;
    margin: 20px 0 0 20px;
    text-decoration: none;
}

#logoimage, #logoimage:hover {
    width: 51px;
    height: 70px;
    float: left;
    box-shadow: none;
    display: inline;
    margin: 5px 0 0 20px;
}

#logoimage {
    background-image: url('/images/lambda.png');
}

#logoimage:hover {
    background-image: url('/images/lambdashine.png');
}

.navbut:hover {
    border-bottom: 1px dashed #F8F8F8;
}

a {
    color: #333333;
} 
 
#post img {
    display: block;
    margin: 20px auto;
}

.stick img, p.stick {
    display: inline  !important;
    margin: 20px 0 20px 4px;
}

a:hover {
    color: black;
}

a:visited {
    color: #999999;
    text-decoration: none;
}

ol li {
    margin-left: 15px;
    line-height: 1.5;
}

ol {
    list-style-type: lower-greek;
    color: #999999;
}

ol p{
    color: #2E333D;
}

ol.posts {
    padding-bottom: 20px;
}

li.preview {
    /*border: 2px solid #687999;*/
    border-bottom: 2px dashed #687999;  
    padding: 5px;
}

li.preview + p {
    padding: 5px;
}

footer {
    background-color: #2E333D;
    text-align: center;
    color: #E6E0E3;
    font-size: 0.875em;
    height: 20px;
    position: relative;
    z-index: 10;
    clear: both;
    margin-top: -20px;
    padding: 10px 0;
}

#wrapper {
    height: 100%;
    height: auto !important;
    min-height: 100%;
    margin: 0 auto -40px;/*0 -40px 0;*/
    overflow: hidden;
    position: relative;
}

.footer-push {
    height: 20px;
}

/*
  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }
*/
#post ul, #post ol {
    margin-left: 1.2em;
}
/*
  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }
*/
  /* terminal */
/*
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }
*/
#related {
    padding: 10px 3% 15px;
    border-top: 3px dashed #2E333D;
    margin: 20px 0 20px;
}

#activities, #studies {
/*    margin-left: 22%;*/
    display: inline-block;
    float:right;
    text-align: right;
    margin-right: 1em;
}

#contact, #hobbies {
 /*   margin-right: 22%;*/
    float: left;
    display: inline;
    margin-left: 1em;
    clear: both;
}

#activities, #studies, #contact, #hobbies {
    color: #2E333D;
    padding: 10px 0 0 10px;
    width: 50%;
    height: 7em;
    clear: both;
}

.infoheaderright, .infoheaderleft {
    width: 50%;
    height: 1.8em;
    padding: 5px 0 0 10px;
    clear: both;
    margin-top: 8%;
}

.infoheaderleft {
    display: inline-block;
    float:right;
    text-align: right;
    margin-right: 1em;
}

.infoheaderright {
    display: inline;
    float:left;
    margin-left: 1em;
}

.infoheaderright:after {
    content: ""; 
    height: 1px;
    background: -o-linear-gradient(left, #000000 0%, #000000 50%, transparent 100%); 
    background: -moz-linear-gradient(left, #000000 0%, #000000 50%, transparent 100%); 
    background: -webkit-linear-gradient(left, #000000 0%, #000000 50%, transparent 100%); 
    background: linear-gradient(left, #000000 0%, #000000 50%, transparent 100%);
    width: 100%;
    display: block;
}

.infoheaderleft:after {
    content: ""; 
    height: 1px;
    background: -o-linear-gradient(right, #000000 0%, #000000 50%, transparent 100%); 
    background: -moz-linear-gradient(right, #000000 0%, #000000 50%, transparent 100%); 
    background: -webkit-linear-gradient(right, #000000 0%, #000000 50%, transparent 100%); 
    background: linear-gradient(right, #000000 0%, #000000 50%, transparent 100%);
    width: 100%;
    display: block;
}


.active {
    border-bottom: 1px solid #FCFCFC;
}

#chi {
    text-align:right;
    position: absolute;
    bottom: 15%;
    right: 20%;
}

#activities img, #studies img, #contact img, #hobbies img {
    margin: 5px;
    border-bottom: solid 1px transparent;
}

#activities img:hover, #studies img:hover, #contact img:hover, #hobbies img:hover {
    border-bottom: 1px dashed #2E333D;
}

#content-wrap {
    margin: 0 4%;
}
