/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */


* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial';
    font-size: 18px;
}

html {
    height: 100%;
}

*::selection {
    color: white; 
    background: #3A4239; 
}

body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    background: #F8F8F8;
}


article {
    height: 100%;
    min-height: 100%;
    background: #FCFCFC;
    margin: 0 10%;
    padding: 0 5% 15px;
    text-align: justify;
    color: #2E333D;
}

#post {
    padding-bottom: 15px;
}

h1 {
    font-size: 1.75em;
    text-align: left;
    font-weight: bold;
    margin: 0 0 20px 0;
    border-bottom: 2px dotted #2E333D;
    padding: 20px 0 15px 0;
}

h2 {
    margin: 20px 0;
    font-size: 1.25em;
}

h3 {
    margin: 5px 0;
}

ul, h1, h2, p {
    line-height: 1.5;
}

#markdown-toc {
    margin-bottom: 30px;
}

nav {
    width: 100%;
    height: 80px;
    background: #2E333D;
    border-bottom: 4px solid #4D5566;
}
 
.navbut {
    padding: 0 0 10px 0;
    margin: 30px 50px 0 0;
    float: right;
    text-align: center;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 1.1em;
}

#logo {
    float: left;
    color: #F8F8F8;
    font-size: 2em;
    margin: 20px 0 0 20px;
    text-decoration: none;
}

#logoimage, #logoimage:hover {
    width: 51px;
    height: 70px;
    float: left;
    box-shadow: none;
    display: inline;
    margin: 5px 0 0 20px;
}

#logoimage {
    background-image: url('/images/Lambda.png');
}

#logoimage:hover {
    background-image: url('/images/Lambdashine.png');
}

.navbut:hover {
    border-bottom: 1px dashed #F8F8F8;
}

a {
    color: #333333;
} 
 
img {
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

.stick img, p.stick {
    display: inline;
    margin: 20px 0 20px 4px;
}

.artimage img {
    border-radius: 15px;
}

a:hover {
    color: black;
}

a:visited {
    color: #999999;
}

ol li {
    margin-left: 15px;
    line-height: 1.5;
}

ol {
    list-style-type: lower-greek;
    color: #999999;
}

ol p{
    color: #2E333D;
}

footer {
    padding: 10px;
    background-color: #2E333D;
    text-align: center;
    color: #E6E0E3;
    font-size: 0.875em;
    height: 20px;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -40px 0; 
    padding: 0;    
}

.footer-push {
    height: 20px;
    margin: 0;
    padding: 0;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

  /* standard */
/*
  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }
*/
#post ul, #post ol {
    margin-left: 1.2em;
}
/*
  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }
*/
  /* terminal */
/*
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }
*/
#related {
    padding: 20px 0 15px 0;
    border-top: 4px dashed #2E333D;
    margin-top: 30px;
}

#activity, #study {
    width: 25%;
    height: 7em;
    margin-left: 22%;
    display: inline-block;
}

#contacts, #hobbies {
    width: 25%;
    height: 7em;
    margin-right: 22%;
    float: right;
    display: inline;
}

#activity, #study, #contacts, #hobbies {
    background: #FCFCFC;
    color: #2E333D;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
    padding: 10px 0 0 10px;
}

#info {
    margin: 10% auto;
}

.infoheaderleft {
    background-color: #2E333D;
    display: inline-block;
    width: 25%;
    margin-left: 22%;
    border-radius: 20px 20px 0 0;
    height: 1.8em;
    padding: 5px 0 0 10px;
    color: #FCFCFC;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

.infoheaderright {
    background-color: #2E333D;
    display: inline;
    width: 25%;
    margin-right: 22%;
    border-radius: 20px 20px 0 0;
    height: 1.8em;
    padding: 5px 0 0 10px;
    color: #FCFCFC;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
    float: right;
}
