---
layout: default
---
<div id='wrapper'>
    {% assign page_about_active = 'active' %}
    {% include navbar.md %}
    <table width='100%'> <!--style='position:absolute; bottom:20px;'>--><tr>
    <td id='about-container'>
            {{ content }}
    </td></tr></table>
<div class="footer-push"></div>
</div>
<footer>&copy; Юрий Бочкарев, 2012</footer>
<!--
<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
-->
