---
layout: default
---

<div id='wrapper'>
    {% include header.md %}

    <article>
        <div id='post'>{{ content }}</div>
        <div id="related">
        <h2>All Posts</h2>
        <ol class="posts">
            {% for post in site.posts limit:3 %}
            <li><p><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></p></li>
            {% endfor %}
        </ol>
        </div>
    </article>

    <div class="footer-push"></div>
</div>
{% include footer.md %}
